BCCL/force-app/main/default/flows/Add_Verticals_to_Parent_Account.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Add_B3</name>
        <label>Add B3</label>
        <locationX>314</locationX>
        <locationY>455</locationY>
        <assignmentItems>
            <assignToReference>ParentVertical</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Parent.Vertical__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ParentVertical</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>;B3+PSU</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Parent_Account_B3</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_GOV</name>
        <label>Add GOV</label>
        <locationX>578</locationX>
        <locationY>455</locationY>
        <assignmentItems>
            <assignToReference>ParentVertical</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Parent.Vertical__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ParentVertical</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>;GOVERNMENT</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Parent_Account_Gov</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Government_and_B3</name>
        <label>Add Government and B3</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <assignmentItems>
            <assignToReference>ParentVertical</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Parent.Vertical__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ParentVertical</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>;GOVERNMENT;B3+PSU</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Parent_Account</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Parent_Validation</name>
        <label>Parent Validation</label>
        <locationX>446</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Both_B3_and_Gov</name>
            <conditionLogic>NOT(1) AND 2 AND NOT(3) AND 4</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Parent.Vertical__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>GOVERNMENT</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Vertical__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>GOVERNMENT</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Parent.Vertical__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>B3+PSU</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Vertical__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>B3+PSU</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Government_and_B3</targetReference>
            </connector>
            <label>Both B3 and Gov</label>
        </rules>
        <rules>
            <name>B3</name>
            <conditionLogic>NOT(1) AND 2</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Parent.Vertical__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>B3+PSU</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Vertical__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>B3+PSU</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_B3</targetReference>
            </connector>
            <label>B3</label>
        </rules>
        <rules>
            <name>GOV</name>
            <conditionLogic>NOT(1) AND 2</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Parent.Vertical__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>GOVERNMENT</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Vertical__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>GOVERNMENT</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_GOV</targetReference>
            </connector>
            <label>GOV</label>
        </rules>
    </decisions>
    <description>When Child Account contains B3 or Gov verticals, then add those to the parent Account.</description>
    <environments>Default</environments>
    <interviewLabel>Add Verticals to Parent Account {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Add Verticals to Parent Account</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Parent_Account</name>
        <label>Update Parent Account</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <inputAssignments>
            <field>Vertical__c</field>
            <value>
                <elementReference>ParentVertical</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record.Parent</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Parent_Account_B3</name>
        <label>Update Parent Account</label>
        <locationX>314</locationX>
        <locationY>575</locationY>
        <inputAssignments>
            <field>Vertical__c</field>
            <value>
                <elementReference>ParentVertical</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record.Parent</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Parent_Account_Gov</name>
        <label>Update Parent Account</label>
        <locationX>578</locationX>
        <locationY>575</locationY>
        <inputAssignments>
            <field>Vertical__c</field>
            <value>
                <elementReference>ParentVertical</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record.Parent</inputReference>
    </recordUpdates>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Parent_Validation</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Vertical__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>GOVERNMENT</stringValue>
            </value>
        </filters>
        <filters>
            <field>Vertical__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>B3+PSU</stringValue>
            </value>
        </filters>
        <object>Account</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>ParentVertical</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
