BCCL/force-app/main/default/flows/Add_and_Remove_Broadcast_Chatter_Group_on_Role_Modification.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <processMetadataValues>
            <name>ActionCallType</name>
            <value>
                <stringValue>flow</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>flowSelection</name>
            <value>
                <stringValue>Add or Remove Users from Broadcast Groups</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_1_A1</name>
        <label>Invoke Flow to Maintain Chatter Group</label>
        <locationX>100</locationX>
        <locationY>200</locationY>
        <actionName>Add_or_Remove_Users_from_Broadcast_Groups</actionName>
        <actionType>flow</actionType>
        <inputParameters>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>UserId</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>maxOccurs</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>objectType</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Reference</stringValue>
                </value>
            </processMetadataValues>
            <name>UserId</name>
            <value>
                <elementReference>myVariable_current.rsp_Current_User__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Profile_Function</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>maxOccurs</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>objectType</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Reference</stringValue>
                </value>
            </processMetadataValues>
            <name>Profile_Function</name>
            <value>
                <elementReference>myVariable_current.rsp_Profile__r.rsp_Profile_Type__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Condition</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>maxOccurs</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>objectType</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <name>Condition</name>
            <value>
                <stringValue>Role Addition</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Horizonta_Vertical_Name</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>maxOccurs</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>objectType</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <name>Horizonta_Vertical_Name</name>
            <value>
                <elementReference>formula_3_myRule_1_A1_3296962165</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Role_Branch_Name</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>maxOccurs</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>objectType</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <name>Role_Branch_Name</name>
            <value>
                <elementReference>formula_4_myRule_1_A1_9270944775</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Horizontal_Vertical_Id</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>maxOccurs</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>objectType</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <name>Horizontal_Vertical_Id</name>
            <value>
                <elementReference>formula_5_myRule_1_A1_5465523224</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Role_Branch_Id</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>maxOccurs</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>objectType</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <name>Role_Branch_Id</name>
            <value>
                <elementReference>formula_6_myRule_1_A1_6503763001</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Add_or_Remove_Users_from_Broadcast_Groups</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>ActionCallType</name>
            <value>
                <stringValue>flow</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>flowSelection</name>
            <value>
                <stringValue>Add or Remove Users from Broadcast Groups</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_8_A1</name>
        <label>Invoke Flow to Maintain Chatter Group for Removal</label>
        <locationX>800</locationX>
        <locationY>200</locationY>
        <actionName>Add_or_Remove_Users_from_Broadcast_Groups</actionName>
        <actionType>flow</actionType>
        <inputParameters>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Profile_Function</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>maxOccurs</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>objectType</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Reference</stringValue>
                </value>
            </processMetadataValues>
            <name>Profile_Function</name>
            <value>
                <elementReference>myVariable_current.rsp_Profile__r.rsp_Profile_Type__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>UserId</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>maxOccurs</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>objectType</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <name>UserId</name>
            <value>
                <elementReference>formula_10_myRule_8_A1_9780473334</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Condition</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>maxOccurs</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>objectType</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <name>Condition</name>
            <value>
                <stringValue>Role Removal</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Horizonta_Vertical_Name</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>maxOccurs</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>objectType</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <name>Horizonta_Vertical_Name</name>
            <value>
                <elementReference>formula_11_myRule_8_A1_0311644074</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Role_Branch_Name</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>maxOccurs</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>objectType</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <name>Role_Branch_Name</name>
            <value>
                <elementReference>formula_12_myRule_8_A1_6903540885</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Horizontal_Vertical_Id</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>maxOccurs</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>objectType</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <name>Horizontal_Vertical_Id</name>
            <value>
                <elementReference>formula_13_myRule_8_A1_2843228369</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Role_Branch_Id</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>maxOccurs</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>objectType</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <name>Role_Branch_Id</name>
            <value>
                <elementReference>formula_14_myRule_8_A1_4901833996</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Add_or_Remove_Users_from_Broadcast_Groups</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <decisions>
        <name>isChangedDecision2_myRule_1_rsp_Current_User_c</name>
        <label>isChangedDecision2_myRule_1_rsp_Current_User_c</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>isChangedDecision9_myRule_8_rsp_Current_User_c</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>isChangedRule_2_myRule_1_rsp_Current_User_c</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>myVariable_old</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>myVariable_old.rsp_Current_User__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>myVariable_current.rsp_Current_User__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>isChangedDecision9_myRule_8_rsp_Current_User_c</targetReference>
            </connector>
            <label>isChangedRule_2_myRule_1_rsp_Current_User_c</label>
        </rules>
    </decisions>
    <decisions>
        <name>isChangedDecision9_myRule_8_rsp_Current_User_c</name>
        <label>isChangedDecision9_myRule_8_rsp_Current_User_c</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>isChangedRule_9_myRule_8_rsp_Current_User_c</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>myVariable_old</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>myVariable_old.rsp_Current_User__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>myVariable_current.rsp_Current_User__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myDecision</targetReference>
            </connector>
            <label>isChangedRule_9_myRule_8_rsp_Current_User_c</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision</name>
        <label>myDecision</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision7</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideReferenceTo</name>
                    <value>
                        <stringValue>User</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>ID</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>isChangedRule_2_myRule_1_rsp_Current_User_c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideReferenceTo</name>
                    <value>
                        <stringValue>User</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>ID</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.rsp_Current_User__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_1_A1</targetReference>
            </connector>
            <label>Current User Added or Changed</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision7</name>
        <label>myDecision7</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_8</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideReferenceTo</name>
                    <value>
                        <stringValue>User</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>ID</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>isChangedRule_9_myRule_8_rsp_Current_User_c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideReferenceTo</name>
                    <value>
                        <stringValue>User</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>ID</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.rsp_Current_User__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_8_A1</targetReference>
            </connector>
            <label>Current User Removed</label>
        </rules>
    </decisions>
    <description>V7 -  Updating values to be passed as per V18 of the flow</description>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>PRIORVALUE([rsp_Role__c].rsp_Current_User__c) </stringValue>
            </value>
        </processMetadataValues>
        <name>formula_10_myRule_8_A1_9780473334</name>
        <dataType>String</dataType>
        <expression>PRIORVALUE({!myVariable_current.rsp_Current_User__c})</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>IF(
     AND(
              ISBLANK([rsp_Role__c].rsp_Vertical__c ),NOT(ISBLANK([rsp_Role__c].rsp_Horizontal__c))),[rsp_Role__c].rsp_Horizontal__r.Name,

IF(AND(NOT(ISBLANK([rsp_Role__c].rsp_Vertical__c)),ISBLANK([rsp_Role__c].rsp_Horizontal__c)),[rsp_Role__c].rsp_Vertical__r.Name,&apos;&apos;))</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_11_myRule_8_A1_0311644074</name>
        <dataType>String</dataType>
        <expression>IF(
     AND(
              ISBLANK({!myVariable_current.rsp_Vertical__c} ),NOT(ISBLANK({!myVariable_current.rsp_Horizontal__c}))),{!myVariable_current.rsp_Horizontal__r.Name},

IF(AND(NOT(ISBLANK({!myVariable_current.rsp_Vertical__c})),ISBLANK({!myVariable_current.rsp_Horizontal__c})),{!myVariable_current.rsp_Vertical__r.Name},&apos;&apos;))</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>if(not(ISPICKVAL([rsp_Role__c].rsp_Geography__c.rsp_Type__c,&apos;Sales Org&apos; )),[rsp_Role__c].rsp_Geography__r.rsp_Parent_Geography__r.Name,[rsp_Role__c].rsp_Geography__r.Name)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_12_myRule_8_A1_6903540885</name>
        <dataType>String</dataType>
        <expression>if(not(ISPICKVAL({!myVariable_current.rsp_Geography__r.rsp_Type__c},&apos;Sales Org&apos; )),{!myVariable_current.rsp_Geography__r.rsp_Parent_Geography__r.Name},{!myVariable_current.rsp_Geography__r.Name})</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>IF(
     AND(
              ISBLANK([rsp_Role__c].rsp_Vertical__c ),NOT(ISBLANK([rsp_Role__c].rsp_Horizontal__c))),[rsp_Role__c].rsp_Horizontal__c,

IF(AND(NOT(ISBLANK([rsp_Role__c].rsp_Vertical__c)),ISBLANK([rsp_Role__c].rsp_Horizontal__c)),[rsp_Role__c].rsp_Vertical__c,&apos;&apos;))</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_13_myRule_8_A1_2843228369</name>
        <dataType>String</dataType>
        <expression>IF(
     AND(
              ISBLANK({!myVariable_current.rsp_Vertical__c} ),NOT(ISBLANK({!myVariable_current.rsp_Horizontal__c}))),{!myVariable_current.rsp_Horizontal__c},

IF(AND(NOT(ISBLANK({!myVariable_current.rsp_Vertical__c})),ISBLANK({!myVariable_current.rsp_Horizontal__c})),{!myVariable_current.rsp_Vertical__c},&apos;&apos;))</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>if(not(ISPICKVAL([rsp_Role__c].rsp_Geography__c.rsp_Type__c,&apos;Sales Org&apos; )),[rsp_Role__c].rsp_Geography__r.rsp_Parent_Geography__c,[rsp_Role__c].rsp_Geography__c)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_14_myRule_8_A1_4901833996</name>
        <dataType>String</dataType>
        <expression>if(not(ISPICKVAL({!myVariable_current.rsp_Geography__r.rsp_Type__c},&apos;Sales Org&apos; )),{!myVariable_current.rsp_Geography__r.rsp_Parent_Geography__c},{!myVariable_current.rsp_Geography__c})</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>IF(
     AND(
              ISBLANK([rsp_Role__c].rsp_Vertical__c ),NOT(ISBLANK([rsp_Role__c].rsp_Horizontal__c))),[rsp_Role__c].rsp_Horizontal__r.Name,

IF(AND(NOT(ISBLANK([rsp_Role__c].rsp_Vertical__c)),ISBLANK([rsp_Role__c].rsp_Horizontal__c)),[rsp_Role__c].rsp_Vertical__r.Name,&apos;&apos;))</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_3_myRule_1_A1_3296962165</name>
        <dataType>String</dataType>
        <expression>IF(
     AND(
              ISBLANK({!myVariable_current.rsp_Vertical__c} ),NOT(ISBLANK({!myVariable_current.rsp_Horizontal__c}))),{!myVariable_current.rsp_Horizontal__r.Name},

IF(AND(NOT(ISBLANK({!myVariable_current.rsp_Vertical__c})),ISBLANK({!myVariable_current.rsp_Horizontal__c})),{!myVariable_current.rsp_Vertical__r.Name},&apos;&apos;))</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>if(not(ISPICKVAL([rsp_Role__c].rsp_Geography__c.rsp_Type__c,&apos;Sales Org&apos; )),[rsp_Role__c].rsp_Geography__r.rsp_Parent_Geography__r.Name,[rsp_Role__c].rsp_Geography__r.Name)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_4_myRule_1_A1_9270944775</name>
        <dataType>String</dataType>
        <expression>if(not(ISPICKVAL({!myVariable_current.rsp_Geography__r.rsp_Type__c},&apos;Sales Org&apos; )),{!myVariable_current.rsp_Geography__r.rsp_Parent_Geography__r.Name},{!myVariable_current.rsp_Geography__r.Name})</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>IF(
     AND(
              ISBLANK([rsp_Role__c].rsp_Vertical__c ),NOT(ISBLANK([rsp_Role__c].rsp_Horizontal__c))),[rsp_Role__c].rsp_Horizontal__c,

IF(AND(NOT(ISBLANK([rsp_Role__c].rsp_Vertical__c)),ISBLANK([rsp_Role__c].rsp_Horizontal__c)),[rsp_Role__c].rsp_Vertical__c,&apos;&apos;))</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_5_myRule_1_A1_5465523224</name>
        <dataType>String</dataType>
        <expression>IF(
     AND(
              ISBLANK({!myVariable_current.rsp_Vertical__c} ),NOT(ISBLANK({!myVariable_current.rsp_Horizontal__c}))),{!myVariable_current.rsp_Horizontal__c},

IF(AND(NOT(ISBLANK({!myVariable_current.rsp_Vertical__c})),ISBLANK({!myVariable_current.rsp_Horizontal__c})),{!myVariable_current.rsp_Vertical__c},&apos;&apos;))</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>if(not(ISPICKVAL([rsp_Role__c].rsp_Geography__c.rsp_Type__c,&apos;Sales Org&apos; )),[rsp_Role__c].rsp_Geography__r.rsp_Parent_Geography__c,[rsp_Role__c].rsp_Geography__c)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_6_myRule_1_A1_6503763001</name>
        <dataType>String</dataType>
        <expression>if(not(ISPICKVAL({!myVariable_current.rsp_Geography__r.rsp_Type__c},&apos;Sales Org&apos; )),{!myVariable_current.rsp_Geography__r.rsp_Parent_Geography__c},{!myVariable_current.rsp_Geography__c})</expression>
    </formulas>
    <interviewLabel>Add_and_Remove_Broadcast_Chatter_Group_on_Role_Modification-7_InterviewLabel</interviewLabel>
    <label>Add and Remove - Broadcast Chatter Group on Role Modification</label>
    <processMetadataValues>
        <name>ObjectType</name>
        <value>
            <stringValue>rsp_Role__c</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>ObjectVariable</name>
        <value>
            <elementReference>myVariable_current</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OldObjectVariable</name>
        <value>
            <elementReference>myVariable_old</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>TriggerType</name>
        <value>
            <stringValue>onAllChanges</stringValue>
        </value>
    </processMetadataValues>
    <processType>Workflow</processType>
    <startElementReference>isChangedDecision2_myRule_1_rsp_Current_User_c</startElementReference>
    <status>Obsolete</status>
    <variables>
        <name>myVariable_current</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>rsp_Role__c</objectType>
    </variables>
    <variables>
        <name>myVariable_old</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>rsp_Role__c</objectType>
    </variables>
</Flow>
