BCCL/force-app/main/default/flows/Add_or_Remove_Users_from_Broadcast_Groups.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Add_to_Collection_All_Blank</name>
        <label>Add to Collection_All_Blank</label>
        <locationX>1380</locationX>
        <locationY>1683</locationY>
        <assignmentItems>
            <assignToReference>SobjColl_GroupMember_Deletion</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Sobj_Group_Member_Deletion</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_on_Group_Collection_All_Blank</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_Collection_All_Blank_Non_Dev</name>
        <label>Add to Collection_All_Blank_Non_Dev</label>
        <locationX>50</locationX>
        <locationY>1361</locationY>
        <assignmentItems>
            <assignToReference>SobjColl_GroupMember_Deletion</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Sobj_Group_Member_Deletion</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_on_Group_Collection_All_Blank_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_Collection_Only_Vertical_Blank</name>
        <label>Add to Collection_Only Vertical Blank</label>
        <locationX>2164</locationX>
        <locationY>1579</locationY>
        <assignmentItems>
            <assignToReference>SobjColl_GroupMember_Deletion</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Sobj_Group_Member_Deletion</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_on_Group_Collection_Only_Vertical_Blank</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_Collection_Only_Vertical_Blank_0</name>
        <label>Add to Collection_Only Vertical Blank</label>
        <locationX>2577</locationX>
        <locationY>1217</locationY>
        <assignmentItems>
            <assignToReference>SobjColl_GroupMember_Deletion</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Sobj_Group_Member_Deletion</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_on_Group_Collection_Only_Vertical_Blank_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_Collection_Only_Vertical_Blank_Non_dev</name>
        <label>Add to Collection_Only Vertical Blank_Non_dev</label>
        <locationX>809</locationX>
        <locationY>1390</locationY>
        <assignmentItems>
            <assignToReference>SobjColl_GroupMember_Deletion</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Sobj_Group_Member_Deletion</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_on_Group_Collection_Only_Vertical_Blank_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_Collection_Only_Vertical_Blank_Non_Dev1</name>
        <label>Add to Collection_Only Vertical Blank_Non_Dev1</label>
        <locationX>1270</locationX>
        <locationY>1120</locationY>
        <assignmentItems>
            <assignToReference>SobjColl_GroupMember_Deletion</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Sobj_Group_Member_Deletion</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_on_Group_Collection_Only_Vertical_Blank_Non_Dev</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assignment to add to collection</description>
        <name>Add_to_Sobj_Collection_0</name>
        <label>Add to Sobj Collection</label>
        <locationX>2615</locationX>
        <locationY>616</locationY>
        <assignmentItems>
            <assignToReference>Sobj_Collection_GroupMember_Addition</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Sobj_GM_For_Addition</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Group_Ids_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Users_to_Sobj_for_Blank_Condition</name>
        <label>Add Users to Sobj for Blank Condition</label>
        <locationX>1330</locationX>
        <locationY>1496</locationY>
        <assignmentItems>
            <assignToReference>Sobj_Group_Member_Deletion.MemberId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>UserId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Sobj_Group_Member_Deletion.CollaborationGroupId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Sobj_GM_Deletion.CollaborationGroupId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Sobj_Group_Member_Deletion.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Sobj_GM_Deletion.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Collection_All_Blank</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Users_to_Sobj_for_Blank_Condition_non_dev</name>
        <label>Add Users to Sobj for Blank Condition non dev</label>
        <locationX>50</locationX>
        <locationY>1167</locationY>
        <assignmentItems>
            <assignToReference>Sobj_Group_Member_Deletion.MemberId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>UserId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Sobj_Group_Member_Deletion.CollaborationGroupId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Sobj_GM_Deletion.CollaborationGroupId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Sobj_Group_Member_Deletion.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Sobj_GM_Deletion.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Collection_All_Blank_Non_Dev</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Users_to_Sobj_for_Vertical_Blank_Condition</name>
        <label>Add Users to Sobj for Vertical Blank Condition</label>
        <locationX>2456</locationX>
        <locationY>1476</locationY>
        <assignmentItems>
            <assignToReference>Sobj_Group_Member_Deletion.MemberId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>UserId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Sobj_Group_Member_Deletion.CollaborationGroupId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Sobj_GM_Deletion.CollaborationGroupId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Sobj_Group_Member_Deletion.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Sobj_GM_Deletion.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Collection_Only_Vertical_Blank</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Users_to_Sobj_for_Vertical_Blank_Condition_0</name>
        <label>Add Users to Sobj for Vertical Blank Condition</label>
        <locationX>2659</locationX>
        <locationY>1087</locationY>
        <assignmentItems>
            <assignToReference>Sobj_Group_Member_Deletion.MemberId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>UserId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Sobj_Group_Member_Deletion.CollaborationGroupId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Sobj_GM_Deletion.CollaborationGroupId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Sobj_Group_Member_Deletion.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Sobj_GM_Deletion.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Collection_Only_Vertical_Blank_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Users_to_Sobj_for_Vertical_Blank_Condition_non_dev</name>
        <label>Add Users to Sobj for Vertical Blank Condition non dev</label>
        <locationX>904</locationX>
        <locationY>1226</locationY>
        <assignmentItems>
            <assignToReference>Sobj_Group_Member_Deletion.MemberId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>UserId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Sobj_Group_Member_Deletion.CollaborationGroupId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Sobj_GM_Deletion.CollaborationGroupId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Sobj_Group_Member_Deletion.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Sobj_GM_Deletion.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Collection_Only_Vertical_Blank_Non_dev</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Users_to_Sobj_for_Vertical_Blank_Condition_non_Dev1</name>
        <label>Add Users to Sobj for Vertical Blank Condition_non_Dev1</label>
        <locationX>1352</locationX>
        <locationY>990</locationY>
        <assignmentItems>
            <assignToReference>Sobj_Group_Member_Deletion.MemberId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>UserId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Sobj_Group_Member_Deletion.CollaborationGroupId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Sobj_GM_Deletion.CollaborationGroupId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Sobj_Group_Member_Deletion.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Sobj_GM_Deletion.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Collection_Only_Vertical_Blank_Non_Dev1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_to_Del1_Collection</name>
        <label>Assign to Del1 Collection</label>
        <locationX>2290</locationX>
        <locationY>1974</locationY>
        <assignmentItems>
            <assignToReference>SobjColl_GM_Del1</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Sobj_GM_Del1</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_User_s_Group_Member_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_to_Del1_Collection_Non_Dev</name>
        <label>Assign to Del1 Collection Non Dev</label>
        <locationX>983</locationX>
        <locationY>1877</locationY>
        <assignmentItems>
            <assignToReference>SobjColl_GM_Del1</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Sobj_GM_Del1</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_User_s_Group_Member_Collection_Non_Dev</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_to_Del1_SObj</name>
        <label>Assign to Del1 SObj</label>
        <locationX>2472</locationX>
        <locationY>1742</locationY>
        <assignmentItems>
            <assignToReference>Sobj_GM_Del1.CollaborationGroupId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Sobj_Group_Member_Deletion.CollaborationGroupId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Sobj_GM_Del1.MemberId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>UserId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Sobj_GM_Del1.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Sobj_GroupMember.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_to_Del1_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_to_Del1_SObj_Non_Dev</name>
        <label>Assign to Del1 SObj Non Dev</label>
        <locationX>1165</locationX>
        <locationY>1645</locationY>
        <assignmentItems>
            <assignToReference>Sobj_GM_Del1.CollaborationGroupId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Sobj_Group_Member_Deletion.CollaborationGroupId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Sobj_GM_Del1.MemberId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>UserId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Sobj_GM_Del1.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Sobj_GroupMember.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_to_Del1_Collection_Non_Dev</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>This assignment element will assign users to Sobj for adding to final collection</description>
        <name>Assign_to_Sobj_for_Addition_Membership_Blank</name>
        <label>Assign to Sobj for Addition Membership Blank</label>
        <locationX>2798</locationX>
        <locationY>532</locationY>
        <assignmentItems>
            <assignToReference>Sobj_GM_For_Addition.MemberId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>UserId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Sobj_GM_For_Addition.CollaborationGroupId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Sobj_Group1.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Sobj_GM_For_Addition.CollaborationRole</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Standard</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Sobj_GM_For_Addition.NotificationFrequency</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>P</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Sobj_Collection_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>This assignment will set counter value in case Group Ids will match</description>
        <name>Change_Counter</name>
        <label>Change Counter</label>
        <locationX>3327</locationX>
        <locationY>50</locationY>
        <assignmentItems>
            <assignToReference>Counter_For_Addition</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Group_Member_Collection_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>This will reset counter value to false</description>
        <name>Reset_Counter_value</name>
        <label>Reset Counter value</label>
        <locationX>3019</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>Counter_For_Addition</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_for_Blank_Membership_List</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>This decision element will check for condition this Flow is to be executed.</description>
        <name>Check_Condition_of_Execution</name>
        <label>Check Condition of Execution</label>
        <locationX>1753</locationX>
        <locationY>166</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Deactivation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Condition</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Deactivation</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Collaboration_Groups_User_is_a_member_of</targetReference>
            </connector>
            <label>User Deactivation</label>
        </rules>
        <rules>
            <name>Activation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Condition</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Activation</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Group_for_new_user</targetReference>
            </connector>
            <label>User Activation</label>
        </rules>
        <rules>
            <name>Role_Addition</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Condition</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Role Addition</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_for_Profile_Function</targetReference>
            </connector>
            <label>Role Addition</label>
        </rules>
        <rules>
            <name>Role_Removal</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Condition</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Role Removal</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_for_Profile_Function_for_Deletion</targetReference>
            </connector>
            <label>Role Removal</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Del1_for_Null</name>
        <label>Check Del1 for Null</label>
        <locationX>1808</locationX>
        <locationY>1948</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Final_GM_Collection_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SobjColl_GM_Del1</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Final GM Collection Null</label>
        </rules>
        <rules>
            <name>Final_GM_Collection_Not_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SobjColl_GM_Del1</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Group_Members</targetReference>
            </connector>
            <label>Final GM Collection Not Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Del1_for_Null_Non_Dev</name>
        <label>Check Del1 for Null Non Dev</label>
        <locationX>233</locationX>
        <locationY>1776</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Final_GM_Collection_Null_Non_Dev</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SobjColl_GM_Del1</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Final GM Collection Null</label>
        </rules>
        <rules>
            <name>Final_GM_Collection_Not_Null_Non_Dev</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SobjColl_GM_Del1</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Group_Members_Non_Dev</targetReference>
            </connector>
            <label>Final GM Collection Not Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Dev_Group_Names_for_Adding_in_Dev_Deletion</name>
        <label>Check Dev Group Names for Adding in Dev Deletion</label>
        <locationX>1471</locationX>
        <locationY>1295</locationY>
        <defaultConnector>
            <targetReference>Loop_on_Group_Collection_All_Blank</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Match All Blank Dev Deletion</defaultConnectorLabel>
        <rules>
            <name>Matches_with_Vertical</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Sobj_GM_Deletion.CollaborationGroup.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Horizonta_Vertical_Name</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Users_to_Sobj_for_Blank_Condition</targetReference>
            </connector>
            <label>Matches with Vertical</label>
        </rules>
        <rules>
            <name>Matches_with_Geo</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Sobj_GM_Deletion.CollaborationGroup.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Role_Branch_Name</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Users_to_Sobj_for_Blank_Condition</targetReference>
            </connector>
            <label>Matches with Geo</label>
        </rules>
        <rules>
            <name>Matches_with_Business_Development</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Sobj_GM_Deletion.CollaborationGroup.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Business Development</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Users_to_Sobj_for_Blank_Condition</targetReference>
            </connector>
            <label>Matches with Business Development</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Dev_Group_Names_for_Adding_in_Dev_Deletion_0</name>
        <label>Check Dev Group Names for Adding in Dev Deletion</label>
        <locationX>193</locationX>
        <locationY>1043</locationY>
        <defaultConnector>
            <targetReference>Loop_on_Group_Collection_All_Blank_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Match All Blank Dev Deletion</defaultConnectorLabel>
        <rules>
            <name>Matches_with_Vertical_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Sobj_GM_Deletion.CollaborationGroup.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Horizonta_Vertical_Name</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Users_to_Sobj_for_Blank_Condition_non_dev</targetReference>
            </connector>
            <label>Matches with Vertical</label>
        </rules>
        <rules>
            <name>Matches_with_Geo_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Sobj_GM_Deletion.CollaborationGroup.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Role_Branch_Name</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Users_to_Sobj_for_Blank_Condition_non_dev</targetReference>
            </connector>
            <label>Matches with Geo</label>
        </rules>
        <rules>
            <name>Matches_with_Business_Development_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Sobj_GM_Deletion.CollaborationGroup.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Business Development</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Users_to_Sobj_for_Blank_Condition_non_dev</targetReference>
            </connector>
            <label>Matches with Business Development</label>
        </rules>
    </decisions>
    <decisions>
        <description>This element will check if the Membership list is null or not. If the list is null, we&apos;ll continue with creation of membership data directly instead of looping through membership list.</description>
        <name>Check_for_Blank_Membership_List</name>
        <label>Check for Blank Membership List</label>
        <locationX>3242</locationX>
        <locationY>494</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Membership_List_Null</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_records_if_User_Exists_in_the_Group</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_to_Sobj_for_Addition_Membership_Blank</targetReference>
            </connector>
            <label>Membership List Null</label>
        </rules>
        <rules>
            <name>Membership_List_not_null</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_records_if_User_Exists_in_the_Group</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Through_Group_Member_Collection_List</targetReference>
            </connector>
            <label>Membership List not null</label>
        </rules>
    </decisions>
    <decisions>
        <description>This variable will define if Group Member needs to be added or not</description>
        <name>Check_for_Counter_Value</name>
        <label>Check for Counter Value</label>
        <locationX>2888</locationX>
        <locationY>127</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Counter_True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Counter_For_Addition</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Through_Group_Ids_Collection</targetReference>
            </connector>
            <label>Counter True</label>
        </rules>
        <rules>
            <name>Counter_False</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Counter_For_Addition</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_to_Sobj_for_Addition_Membership_Blank</targetReference>
            </connector>
            <label>Counter False</label>
        </rules>
    </decisions>
    <decisions>
        <description>This decision element will check if the Profile type is of Dev or Non-Dev Types</description>
        <name>Check_for_Profile_Function</name>
        <label>Check for Profile Function</label>
        <locationX>1846</locationX>
        <locationY>367</locationY>
        <defaultConnector>
            <targetReference>Get_Collaboration_Groups_For_Non_Dev</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>All Others</defaultConnectorLabel>
        <rules>
            <name>Development_for_Insertion</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Profile_Function</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Development</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Collaboration_Groups_For_Dev</targetReference>
            </connector>
            <label>Development for Insertion</label>
        </rules>
    </decisions>
    <decisions>
        <description>This decision element will check if the Profile type is of Dev or Non-Dev Types for deletion</description>
        <name>Check_for_Profile_Function_for_Deletion</name>
        <label>Check for Profile Function for Deletion</label>
        <locationX>1727</locationX>
        <locationY>612</locationY>
        <defaultConnector>
            <targetReference>Get_BroadCast_Collaboration_Groups_For_Non_Dev_for_deletion</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>All Others for Deletion</defaultConnectorLabel>
        <rules>
            <name>Development_for_Deletion</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Profile_Function</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Development</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_BroadCast_Collaboration_Groups_For_Dev_for_Deletion</targetReference>
            </connector>
            <label>Development for Deletion</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_Vertical_and_Geo_Collection_contains_values</name>
        <label>Check for Vertical and Geo Collection contains values</label>
        <locationX>1936</locationX>
        <locationY>1116</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Vertical_and_Geo_Collection_Blank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_other_dev_roles_for_Vertical_for_the_user</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_other_dev_roles_for_Geo_for_the_user</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_on_Group_Collection_All_Blank</targetReference>
            </connector>
            <label>Vertical and Geo Collection Blank</label>
        </rules>
        <rules>
            <name>Vertical_and_Geo_Collection_Not_blank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_other_dev_roles_for_Vertical_for_the_user</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_other_dev_roles_for_Geo_for_the_user</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>Vertical and Geo Collection Not blank</label>
        </rules>
        <rules>
            <name>Vertical_Blank_and_Geo_Not_Blank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_other_dev_roles_for_Vertical_for_the_user</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_other_dev_roles_for_Geo_for_the_user</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_on_Group_Collection_Only_Vertical_Blank</targetReference>
            </connector>
            <label>Vertical Blank and Geo Not Blank</label>
        </rules>
        <rules>
            <name>Vertical_Not_Blank_Geo_Blank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_other_dev_roles_for_Vertical_for_the_user</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_other_dev_roles_for_Geo_for_the_user</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_on_Group_Collection_Only_Vertical_Blank_0</targetReference>
            </connector>
            <label>Vertical Not Blank and Geo Blank</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_Vertical_and_Geo_Collection_contains_values_non_dev</name>
        <label>Check for Vertical and Geo Collection contains values non dev</label>
        <locationX>631</locationX>
        <locationY>1019</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Vertical_and_Geo_Collection_Blank_non_dev</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_other_dev_roles_for_Vertical_for_the_user</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_other_dev_roles_for_Geo_for_the_user</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_on_Group_Collection_All_Blank_0</targetReference>
            </connector>
            <label>Vertical and Geo Collection Blank</label>
        </rules>
        <rules>
            <name>Vertical_and_Geo_Collection_Not_blank_non_dev</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_other_dev_roles_for_Vertical_for_the_user</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_other_dev_roles_for_Geo_for_the_user</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>Vertical and Geo Collection Not blank</label>
        </rules>
        <rules>
            <name>Vertical_Blank_and_Geo_Not_Blank_non_Dev</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_other_dev_roles_for_Vertical_for_the_user</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_other_dev_roles_for_Geo_for_the_user</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_on_Group_Collection_Only_Vertical_Blank_0_0</targetReference>
            </connector>
            <label>Vertical Blank and Geo Not Blank</label>
        </rules>
        <rules>
            <name>Vertical_Not_Blank_Geo_Blank_non_Dev</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_other_dev_roles_for_Vertical_for_the_user</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_other_dev_roles_for_Geo_for_the_user</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_on_Group_Collection_Only_Vertical_Blank_Non_Dev</targetReference>
            </connector>
            <label>Vertical Not Blank and Geo Blank</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Group_Name</name>
        <label>Check Group Name</label>
        <locationX>2218</locationX>
        <locationY>1313</locationY>
        <defaultConnector>
            <targetReference>Loop_on_Group_Collection_Only_Vertical_Blank</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>BD and Geo</defaultConnectorLabel>
        <rules>
            <name>Vertical</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Sobj_GM_Deletion.CollaborationGroup.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Horizonta_Vertical_Name</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Users_to_Sobj_for_Vertical_Blank_Condition</targetReference>
            </connector>
            <label>Vertical</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Group_Name_0</name>
        <label>Check Group Name</label>
        <locationX>2396</locationX>
        <locationY>1024</locationY>
        <defaultConnector>
            <targetReference>Loop_on_Group_Collection_Only_Vertical_Blank_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>BD and Vertical</defaultConnectorLabel>
        <rules>
            <name>Geo</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Sobj_GM_Deletion.CollaborationGroup.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Role_Branch_Name</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Users_to_Sobj_for_Vertical_Blank_Condition_0</targetReference>
            </connector>
            <label>Geo</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Group_Name_non_dev</name>
        <label>Check Group Name non dev</label>
        <locationX>788</locationX>
        <locationY>1146</locationY>
        <defaultConnector>
            <targetReference>Loop_on_Group_Collection_Only_Vertical_Blank_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>BD and Geo</defaultConnectorLabel>
        <rules>
            <name>Vertical_non_dev</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Sobj_GM_Deletion.CollaborationGroup.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Horizonta_Vertical_Name</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Users_to_Sobj_for_Vertical_Blank_Condition_non_dev</targetReference>
            </connector>
            <label>Vertical</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Group_Names_non_dev</name>
        <label>Check Group Names non dev</label>
        <locationX>1089</locationX>
        <locationY>927</locationY>
        <defaultConnector>
            <targetReference>Loop_on_Group_Collection_Only_Vertical_Blank_Non_Dev</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>BD and Vertical</defaultConnectorLabel>
        <rules>
            <name>Geo_non_Dev</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Sobj_GM_Deletion.CollaborationGroup.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Role_Branch_Name</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Users_to_Sobj_for_Vertical_Blank_Condition_non_Dev1</targetReference>
            </connector>
            <label>Geo</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_Addition_Collection_is_null_or_not</name>
        <label>Check if Addition Collection is null or not</label>
        <locationX>2369</locationX>
        <locationY>573</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Sobj_Collection_GroupMember_Addition</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Null</label>
        </rules>
        <rules>
            <name>Not_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Sobj_Collection_GroupMember_Addition</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Collaboration_Group_Member</targetReference>
            </connector>
            <label>Not Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_Group_Id_Matches</name>
        <label>Check if Group Id Matches</label>
        <locationX>2175</locationX>
        <locationY>1776</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Matches_Vertical</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Sobj_Group_Member_Deletion.CollaborationGroupId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Sobj_GroupMember.CollaborationGroupId</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Sobj_Group_Member_Deletion.CollaborationGroup.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Horizonta_Vertical_Name</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_to_Del1_SObj</targetReference>
            </connector>
            <label>Matches Vertical</label>
        </rules>
        <rules>
            <name>Matches_Geo</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Sobj_Group_Member_Deletion.CollaborationGroupId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Sobj_GroupMember.CollaborationGroupId</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Sobj_Group_Member_Deletion.CollaborationGroup.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Role_Branch_Name</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_to_Del1_SObj</targetReference>
            </connector>
            <label>Matches Geo</label>
        </rules>
        <rules>
            <name>Matches_Business_Development</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Sobj_Group_Member_Deletion.CollaborationGroupId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Sobj_GroupMember.CollaborationGroupId</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Sobj_Group_Member_Deletion.CollaborationGroup.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Business Development</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_to_Del1_SObj</targetReference>
            </connector>
            <label>Matches Business Development</label>
        </rules>
        <rules>
            <name>Mismatch</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Sobj_Group_Member_Deletion.CollaborationGroupId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Sobj_GroupMember.CollaborationGroupId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_through_User_s_Group_Member_Collection</targetReference>
            </connector>
            <label>Mismatch</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_Group_Id_Matches_Non_Dev</name>
        <label>Check if Group Id Matches Non Dev</label>
        <locationX>868</locationX>
        <locationY>1679</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Matches_Vertical_Non_dev</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Sobj_Group_Member_Deletion.CollaborationGroupId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Sobj_GroupMember.CollaborationGroupId</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Sobj_Group_Member_Deletion.CollaborationGroup.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Horizonta_Vertical_Name</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_to_Del1_SObj_Non_Dev</targetReference>
            </connector>
            <label>Matches Vertical</label>
        </rules>
        <rules>
            <name>Matches_Geo_Non_Dev</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Sobj_Group_Member_Deletion.CollaborationGroupId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Sobj_GroupMember.CollaborationGroupId</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Sobj_Group_Member_Deletion.CollaborationGroup.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Role_Branch_Name</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_to_Del1_SObj_Non_Dev</targetReference>
            </connector>
            <label>Matches Geo</label>
        </rules>
        <rules>
            <name>Matches_Business_Development_Non_Dev</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Sobj_Group_Member_Deletion.CollaborationGroupId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Sobj_GroupMember.CollaborationGroupId</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Sobj_Group_Member_Deletion.CollaborationGroup.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Business Development</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_to_Del1_SObj_Non_Dev</targetReference>
            </connector>
            <label>Matches Business Development</label>
        </rules>
        <rules>
            <name>Mismatch_Non_dev</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Sobj_Group_Member_Deletion.CollaborationGroupId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Sobj_GroupMember.CollaborationGroupId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_through_User_s_Group_Member_Collection_Non_Dev</targetReference>
            </connector>
            <label>Mismatch</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_Group_id_was_Found</name>
        <label>Check if Group id was Found</label>
        <locationX>3571</locationX>
        <locationY>94</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Group_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Sobj_Group1.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Sobj_GroupMember.CollaborationGroupId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Change_Counter</targetReference>
            </connector>
            <label>Group Found</label>
        </rules>
        <rules>
            <name>Group_Not_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Sobj_Group1.Id</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Sobj_GroupMember.CollaborationGroupId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Through_Group_Member_Collection_List</targetReference>
            </connector>
            <label>Group Not Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Collection_was_Set</name>
        <label>Collection was Set</label>
        <locationX>2274</locationX>
        <locationY>142</locationY>
        <defaultConnectorLabel>Does not Exist</defaultConnectorLabel>
        <rules>
            <name>User_Exists_in_Group</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Collaboration_Groups_User_is_a_member_of</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Collaboration_Group_Members</targetReference>
            </connector>
            <label>User Exists in Group</label>
        </rules>
    </decisions>
    <description>V23 - Correcting Field Checks for Role Removal Logic from checking only on Vertical fields to formula fields</description>
    <interviewLabel>Add or Remove Users from Broadcast Groups {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Add or Remove Users from Broadcast Groups</label>
    <loops>
        <name>Loop_on_Group_Collection_All_Blank</name>
        <label>Loop on Group Collection_All Blank</label>
        <locationX>1723</locationX>
        <locationY>1400</locationY>
        <assignNextValueToReference>Sobj_GM_Deletion</assignNextValueToReference>
        <collectionReference>Get_Existing_Membership_Collaboration_Groups_Deletion</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_Dev_Group_Names_for_Adding_in_Dev_Deletion</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_Through_Final_Collection_for_Matching</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_on_Group_Collection_All_Blank_0</name>
        <label>Loop on Group Collection_All Blank</label>
        <locationX>417</locationX>
        <locationY>1303</locationY>
        <assignNextValueToReference>Sobj_GM_Deletion</assignNextValueToReference>
        <collectionReference>Get_Non_Dev_Membership_Collaboration_Groups_Deletion</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_Dev_Group_Names_for_Adding_in_Dev_Deletion_0</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_Through_Final_Collection_for_Matching_Non_Dev</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_on_Group_Collection_Only_Vertical_Blank</name>
        <label>Loop on Group Collection_Only Vertical Blank</label>
        <locationX>1891</locationX>
        <locationY>1358</locationY>
        <assignNextValueToReference>Sobj_GM_Deletion</assignNextValueToReference>
        <collectionReference>Get_Existing_Membership_Collaboration_Groups_Deletion</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_Group_Name</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_Through_Final_Collection_for_Matching</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_on_Group_Collection_Only_Vertical_Blank_0</name>
        <label>Loop on Group Collection_Only Vertical Blank</label>
        <locationX>2397</locationX>
        <locationY>1201</locationY>
        <assignNextValueToReference>Sobj_GM_Deletion</assignNextValueToReference>
        <collectionReference>Get_Existing_Membership_Collaboration_Groups_Deletion</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_Group_Name_0</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_Through_Final_Collection_for_Matching</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_on_Group_Collection_Only_Vertical_Blank_0_0</name>
        <label>Loop on Group Collection_Only Vertical Blank</label>
        <locationX>584</locationX>
        <locationY>1261</locationY>
        <assignNextValueToReference>Sobj_GM_Deletion</assignNextValueToReference>
        <collectionReference>Get_Non_Dev_Membership_Collaboration_Groups_Deletion</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_Group_Name_non_dev</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_Through_Final_Collection_for_Matching_Non_Dev</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_on_Group_Collection_Only_Vertical_Blank_Non_Dev</name>
        <label>Loop on Group Collection_Only Vertical Blank_Non_Dev</label>
        <locationX>1090</locationX>
        <locationY>1104</locationY>
        <assignNextValueToReference>Sobj_GM_Deletion</assignNextValueToReference>
        <collectionReference>Get_Non_Dev_Membership_Collaboration_Groups_Deletion</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_Group_Names_non_dev</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_Through_Final_Collection_for_Matching_Non_Dev</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Through_Final_Collection_for_Matching</name>
        <label>Loop Through Final Collection for Matching</label>
        <locationX>1726</locationX>
        <locationY>1680</locationY>
        <assignNextValueToReference>Sobj_Group_Member_Deletion</assignNextValueToReference>
        <collectionReference>SobjColl_GroupMember_Deletion</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Loop_through_User_s_Group_Member_Collection</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_Del1_for_Null</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Through_Final_Collection_for_Matching_Non_Dev</name>
        <label>Loop Through Final Collection for Matching Non Dev</label>
        <locationX>420</locationX>
        <locationY>1583</locationY>
        <assignNextValueToReference>Sobj_Group_Member_Deletion</assignNextValueToReference>
        <collectionReference>SobjColl_GroupMember_Deletion</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Loop_through_User_s_Group_Member_Collection_Non_Dev</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_Del1_for_Null_Non_Dev</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <description>This loop will feed into Group Member Collection to match the Ids for duplicity</description>
        <name>Loop_Through_Group_Ids_Collection</name>
        <label>Loop Through Group Ids Collection</label>
        <locationX>2460</locationX>
        <locationY>314</locationY>
        <assignNextValueToReference>Sobj_Group1</assignNextValueToReference>
        <collectionReference>Sobj_Collection_Collaboration_Group</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Reset_Counter_value</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_if_Addition_Collection_is_null_or_not</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <description>This loop element will loop through Group Member list to do the match</description>
        <name>Loop_Through_Group_Member_Collection_List</name>
        <label>Loop Through Group Member Collection List</label>
        <locationX>3225</locationX>
        <locationY>213</locationY>
        <assignNextValueToReference>Sobj_GroupMember</assignNextValueToReference>
        <collectionReference>Get_records_if_User_Exists_in_the_Group</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_if_Group_id_was_Found</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_for_Counter_Value</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_through_User_s_Group_Member_Collection</name>
        <label>Loop through User&apos;s Group Member Collection</label>
        <locationX>1878</locationX>
        <locationY>1798</locationY>
        <assignNextValueToReference>Sobj_GroupMember</assignNextValueToReference>
        <collectionReference>Get_Existing_Membership_Collaboration_Groups_Deletion</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_if_Group_Id_Matches</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_Through_Final_Collection_for_Matching</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_through_User_s_Group_Member_Collection_Non_Dev</name>
        <label>Loop through User&apos;s Group Member Collection Non Dev</label>
        <locationX>571</locationX>
        <locationY>1701</locationY>
        <assignNextValueToReference>Sobj_GroupMember</assignNextValueToReference>
        <collectionReference>Get_Non_Dev_Membership_Collaboration_Groups_Deletion</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_if_Group_Id_Matches_Non_Dev</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_Through_Final_Collection_for_Matching_Non_Dev</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <description>This element will insert Collaboration Group Member based on Group identified</description>
        <name>Create_Collaboration_Group_Member</name>
        <label>Create Collaboration Group Member</label>
        <locationX>2385</locationX>
        <locationY>763</locationY>
        <inputReference>Sobj_Collection_GroupMember_Addition</inputReference>
    </recordCreates>
    <recordDeletes>
        <description>This element will delete all the Group Members on Deactivation of a user</description>
        <name>Delete_Collaboration_Group_Members</name>
        <label>Delete Collaboration Group Members</label>
        <locationX>2547</locationX>
        <locationY>129</locationY>
        <inputReference>Get_Collaboration_Groups_User_is_a_member_of</inputReference>
    </recordDeletes>
    <recordDeletes>
        <name>Delete_Group_Members</name>
        <label>Delete Group Members</label>
        <locationX>1602</locationX>
        <locationY>2044</locationY>
        <inputReference>SobjColl_GM_Del1</inputReference>
    </recordDeletes>
    <recordDeletes>
        <name>Delete_Group_Members_Non_Dev</name>
        <label>Delete Group Members Non Dev</label>
        <locationX>253</locationX>
        <locationY>1990</locationY>
        <inputReference>SobjColl_GM_Del1</inputReference>
    </recordDeletes>
    <recordLookups>
        <description>This element will fetch all Broadcast only Collaboration Groups for Development Team for deletion.</description>
        <name>Get_BroadCast_Collaboration_Groups_For_Dev_for_Deletion</name>
        <label>Get BroadCast Collaboration Groups For Dev for Deletion</label>
        <locationX>1893</locationX>
        <locationY>746</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Existing_Membership_Collaboration_Groups_Deletion</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Business Development</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Horizonta_Vertical_Name</elementReference>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Role_Branch_Name</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>CollaborationGroup</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>This element will fetch all Broadcast only Collaboration Groups for Non-Development Team</description>
        <name>Get_BroadCast_Collaboration_Groups_For_Non_Dev_for_deletion</name>
        <label>Get BroadCast Collaboration Groups For Non Dev for deletion</label>
        <locationX>1463</locationX>
        <locationY>724</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Non_Dev_Membership_Collaboration_Groups_Deletion</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Business Non Development</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Horizonta_Vertical_Name</elementReference>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Role_Branch_Name</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>CollaborationGroup</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>This element will fetch the &quot;Business Development&quot; group and other groups based on Horizontal, Vertical  and Geography</description>
        <name>Get_Collaboration_Groups_For_Dev</name>
        <label>Get Collaboration Groups For Dev</label>
        <locationX>2169</locationX>
        <locationY>417</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_records_if_User_Exists_in_the_Group</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Business Development</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Horizonta_Vertical_Name</elementReference>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Role_Branch_Name</elementReference>
            </value>
        </filters>
        <object>CollaborationGroup</object>
        <outputReference>Sobj_Collection_Collaboration_Group</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>IsBroadcast</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <recordLookups>
        <description>This element will fetch all Broadcast only Collaboration Groups for Non-Development Team</description>
        <name>Get_Collaboration_Groups_For_Non_Dev</name>
        <label>Get Collaboration Groups For Non Dev</label>
        <locationX>2081</locationX>
        <locationY>748</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_records_if_User_Exists_in_the_Group</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Business Non Development</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Horizonta_Vertical_Name</elementReference>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Role_Branch_Name</elementReference>
            </value>
        </filters>
        <object>CollaborationGroup</object>
        <outputReference>Sobj_Collection_Collaboration_Group</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Collaboration_Groups_User_is_a_member_of</name>
        <label>Get Collaboration Groups User is a member of</label>
        <locationX>2046</locationX>
        <locationY>150</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Collection_was_Set</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>MemberId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>UserId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>CollaborationGroupMember</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>CollaborationGroupId</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Existing_Membership_Collaboration_Groups_Deletion</name>
        <label>Get Existing Membership Collaboration Groups_Deletion</label>
        <locationX>1680</locationX>
        <locationY>752</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_other_dev_roles_for_Vertical_for_the_user</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>MemberId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>UserId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>CollaborationGroupMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Group_for_new_user</name>
        <label>Get Group for new user</label>
        <locationX>1598</locationX>
        <locationY>498</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_records_if_User_Exists_in_the_Group</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsArchived</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>IsBroadcast</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>All Response Users</stringValue>
            </value>
        </filters>
        <object>CollaborationGroup</object>
        <outputReference>Sobj_Collection_Collaboration_Group</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Non_Dev_Membership_Collaboration_Groups_Deletion</name>
        <label>Get Non Dev Membership Collaboration Groups_Deletion</label>
        <locationX>1315</locationX>
        <locationY>717</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_other_non_dev_roles_for_Vertical</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>MemberId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>UserId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>CollaborationGroupMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_other_dev_roles_for_Geo_for_the_user</name>
        <label>Get other dev roles for Geo for the user</label>
        <locationX>1942</locationX>
        <locationY>902</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_for_Vertical_and_Geo_Collection_contains_values</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>rsp_Current_User__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>UserId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Role_Branch_Id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Role_Branch_Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>rsp_Is_Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>rsp_Role__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>rsp_Geography__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_other_dev_roles_for_Vertical_for_the_user</name>
        <label>Get other dev roles for Vertical for the user</label>
        <locationX>1639</locationX>
        <locationY>910</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_other_dev_roles_for_Geo_for_the_user</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>rsp_Current_User__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>UserId</elementReference>
            </value>
        </filters>
        <filters>
            <field>rsp_Is_Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Horizontal_Vertical_Id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Horizontal_Vertical_Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>rsp_Role__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_other_non_dev_roles_for_Geo</name>
        <label>Get other non dev roles for Geo</label>
        <locationX>985</locationX>
        <locationY>716</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_for_Vertical_and_Geo_Collection_contains_values_non_dev</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>rsp_Current_User__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>UserId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Role_Branch_Id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Role_Branch_Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>rsp_Is_Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>rsp_Role__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>rsp_Geography__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_other_non_dev_roles_for_Vertical</name>
        <label>Get other non dev roles for Vertical</label>
        <locationX>1157</locationX>
        <locationY>712</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_other_non_dev_roles_for_Geo</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>rsp_Current_User__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>UserId</elementReference>
            </value>
        </filters>
        <filters>
            <field>rsp_Is_Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Horizontal_Vertical_Id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Horizontal_Vertical_Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>rsp_Role__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>This element will check if the user is already existing to avoid Duplicate record error</description>
        <name>Get_records_if_User_Exists_in_the_Group</name>
        <label>Get records if User Exists in the Group</label>
        <locationX>2305</locationX>
        <locationY>281</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Through_Group_Ids_Collection</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>MemberId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>UserId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>CollaborationGroupMember</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>MemberId</queriedFields>
        <queriedFields>CollaborationGroupId</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>1583</locationX>
        <locationY>154</locationY>
        <connector>
            <targetReference>Check_Condition_of_Execution</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>ChatterPost1</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Chatter Post 1:&lt;/p&gt;&lt;p&gt;User Id: {!UserId}&lt;/p&gt;&lt;p&gt;Branch Name: {!Role_Branch_Name}&lt;/p&gt;&lt;p&gt;Vertical/Horizontal Name: {!Horizonta_Vertical_Name}&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>ChatterPost2</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Chatter Post2:&lt;/p&gt;&lt;p&gt;Group Id in progress is: {!Sobj_Group1.Id}&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>ChatterPost3</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Chatter post 3:&lt;/p&gt;&lt;p&gt;User found in Group: {!Sobj_GroupMember.CollaborationGroup.Id}&lt;/p&gt;&lt;p&gt;User Found: {!Sobj_GroupMember.Member.Id}&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>ChatterPost5</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Chatter Post 5:&lt;/p&gt;&lt;p&gt;Record for Creation:&lt;/p&gt;&lt;p&gt;Memberid: {!Sobj_GM_For_Addition.MemberId}&lt;/p&gt;&lt;p&gt;GroupId: {!Sobj_GM_For_Addition.CollaborationGroupId}&lt;/p&gt;&lt;p&gt;Group Role: {!Sobj_GM_For_Addition.CollaborationRole}&lt;/p&gt;&lt;p&gt;NOtification Frequency: {!Sobj_GM_For_Addition.NotificationFrequency}&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>ChatterPost6</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Chatter Post 6:&lt;/p&gt;&lt;p&gt;Record for Creation:&lt;/p&gt;&lt;p&gt;Memberid: {!Sobj_GM_For_Addition.MemberId}&lt;/p&gt;&lt;p&gt;GroupId: {!Sobj_GM_For_Addition.CollaborationGroupId}&lt;/p&gt;&lt;p&gt;Group Role: {!Sobj_GM_For_Addition.CollaborationRole}&lt;/p&gt;&lt;p&gt;NOtification Frequency: {!Sobj_GM_For_Addition.NotificationFrequency}&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <description>This element will hold value for Collaboration Group Id identified for Member insertion</description>
        <name>CG_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>This variable will hold the value of the condition this flow is to be executed for.</description>
        <name>Condition</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>This flag will be used to skip duplicate creation of Group Members within Loop</description>
        <name>Counter_For_Addition</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <description>This variable will hold value of either Horizontal or Vertical depending on the tagging of the user</description>
        <name>Horizonta_Vertical_Name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Horizontal_Vertical_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>This variable will hold the value of the Profile Function passed from PB</description>
        <name>Profile_Function</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Role_Branch_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>This variable will hold the value of the Branch user is tagged with</description>
        <name>Role_Branch_Name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Sobj_Collection_Collaboration_Group</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CollaborationGroup</objectType>
    </variables>
    <variables>
        <description>This Sobj Collection will hold values for all the Group Members to be added</description>
        <name>Sobj_Collection_GroupMember_Addition</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CollaborationGroupMember</objectType>
    </variables>
    <variables>
        <name>Sobj_GM_Del1</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CollaborationGroupMember</objectType>
    </variables>
    <variables>
        <name>Sobj_GM_Deletion</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CollaborationGroupMember</objectType>
    </variables>
    <variables>
        <description>This Sobj will hold values to be added to final Collection for Group Members</description>
        <name>Sobj_GM_For_Addition</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CollaborationGroupMember</objectType>
    </variables>
    <variables>
        <description>This Sobject variable will carry forward the value of Group id</description>
        <name>Sobj_Group1</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CollaborationGroup</objectType>
    </variables>
    <variables>
        <name>Sobj_Group_Member_Deletion</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CollaborationGroupMember</objectType>
    </variables>
    <variables>
        <description>This Sobj variable will hold the value of Group member record and match basis Member Id</description>
        <name>Sobj_GroupMember</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CollaborationGroupMember</objectType>
    </variables>
    <variables>
        <name>SobjColl_GM_Del1</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CollaborationGroupMember</objectType>
    </variables>
    <variables>
        <name>SobjColl_GroupMember_Deletion</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CollaborationGroupMember</objectType>
    </variables>
    <variables>
        <name>UserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
