BCCL/force-app/main/default/flows/Add_lead_information_on_Opportunity_from_Account.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <decisions>
        <name>Account_with_Lead_Information</name>
        <label>Account with Lead Information</label>
        <locationX>182</locationX>
        <locationY>311</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>True</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account.rsp_Lead_Id__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.AccountSource</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.rsp_Lead_Code__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.rsp_Converted_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.rsp_Sales_Team_Comments__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Lead_Fields</targetReference>
            </connector>
            <label>True</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Add lead information on Opportunity from Account {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Add lead information on Opportunity from Account</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Lead_Fields</name>
        <label>Update Lead Fields</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <inputAssignments>
            <field>LeadSource</field>
            <value>
                <elementReference>$Record.Account.AccountSource</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>rsp_Converted_Date__c</field>
            <value>
                <elementReference>$Record.Account.rsp_Converted_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>rsp_Lead_Code__c</field>
            <value>
                <elementReference>$Record.Account.rsp_Lead_Code__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>rsp_Lead_Id__c</field>
            <value>
                <elementReference>$Record.Account.rsp_Lead_Id__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>rsp_Sales_Team_Comments__c</field>
            <value>
                <elementReference>$Record.Account.rsp_Sales_Team_Comments__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Account_with_Lead_Information</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
