BCCL/force-app/main/default/flows/Change_Vertical_Name.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Add_to_Opty_Collection2</name>
        <label>Add to Opty Collection2</label>
        <locationX>615</locationX>
        <locationY>1093</locationY>
        <assignmentItems>
            <assignToReference>OptySobjCollection2</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>OptySobj</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Opty</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_Quote_Collection2</name>
        <label>Add to Quote Collection2</label>
        <locationX>215</locationX>
        <locationY>985</locationY>
        <assignmentItems>
            <assignToReference>QuoteSobjCollection2</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>QuoteSobj</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Quotes</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_Role_collection2</name>
        <label>Add to Role collection2</label>
        <locationX>1103</locationX>
        <locationY>358</locationY>
        <assignmentItems>
            <assignToReference>RoleSobjCollectionL2</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>RoleSobjL1</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_for_Roles</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_New_Name_to_Role</name>
        <label>Assign New Name to Role</label>
        <locationX>1275</locationX>
        <locationY>248</locationY>
        <assignmentItems>
            <assignToReference>RoleSobjL1.rsp_Vertical_Text__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VerticalName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RoleSobjL1.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SubstituteOldVName_Role</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Role_collection2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_New_Vertical_Name_Chatter_Group</name>
        <label>Assign New Vertical Name Chatter Group</label>
        <locationX>1631</locationX>
        <locationY>1153</locationY>
        <assignmentItems>
            <assignToReference>ChGroupSobjL1.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SubstituteOldVNme_ChGroup</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_to_Fresh_Chatter_Group_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_New_Vertical_Name_Group</name>
        <label>Assign New Vertical Name Group</label>
        <locationX>1579</locationX>
        <locationY>759</locationY>
        <assignmentItems>
            <assignToReference>PubGroupSobjL1.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SubstituteOldVName_PubGroup</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PubGroupSobjL1.DeveloperName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SubstituteOldVDevName_PubGroup</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_to_Fresh_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Selection_to_Variable</name>
        <label>Assign Selection to Variable</label>
        <locationX>345</locationX>
        <locationY>406</locationY>
        <assignmentItems>
            <assignToReference>SelectedObject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Select_Object</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Selection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_to_Fresh_Chatter_Group_Collection</name>
        <label>Assign to Fresh Chatter Group Collection</label>
        <locationX>1420</locationX>
        <locationY>1269</locationY>
        <assignmentItems>
            <assignToReference>ChGroupSobjCollection2</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ChGroupSobjL1</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Chatter_Group_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_to_Fresh_Collection</name>
        <label>Assign to Fresh Collection</label>
        <locationX>1315</locationX>
        <locationY>815</locationY>
        <assignmentItems>
            <assignToReference>PubGroupSobjCollection2</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>PubGroupSobjL1</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Group_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Rename_Vertical_Text</name>
        <label>Rename Vertical Text</label>
        <locationX>799</locationX>
        <locationY>932</locationY>
        <assignmentItems>
            <assignToReference>OptySobj.rsp_VerticalName__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VerticalName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Opty_Collection2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Replace_Quote_Vertical</name>
        <label>Replace Quote Vertical</label>
        <locationX>401</locationX>
        <locationY>953</locationY>
        <assignmentItems>
            <assignToReference>QuoteSobj.Vertical__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>QuoteReplaceVertical</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Quote_Collection2</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_for_Role_Records_Found</name>
        <label>Check for Role Records Found</label>
        <locationX>734</locationX>
        <locationY>260</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Null_Roles</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RoleSobjCollection</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Object_Selection_for_Update</targetReference>
            </connector>
            <label>Null Roles</label>
        </rules>
        <rules>
            <name>Not_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RoleSobjCollection</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_for_Roles</targetReference>
            </connector>
            <label>Not Null</label>
        </rules>
    </decisions>
    <decisions>
        <description>This decision will evaluate selection of object in previous screen</description>
        <name>Check_Selection</name>
        <label>Check Selection</label>
        <locationX>557</locationX>
        <locationY>497</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Lead</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SelectedObject</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Lead</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lead_Selection</targetReference>
            </connector>
            <label>Lead</label>
        </rules>
        <rules>
            <name>Opportunity</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SelectedObject</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Opportunity</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Opportunities</targetReference>
            </connector>
            <label>Opportunity</label>
        </rules>
        <rules>
            <name>Role</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SelectedObject</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>rsp_Role__c</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Fetch_Roles</targetReference>
            </connector>
            <label>Role</label>
        </rules>
        <rules>
            <name>Group</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SelectedObject</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Group</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Fetch_Groups</targetReference>
            </connector>
            <label>Public Groups</label>
        </rules>
        <rules>
            <name>Quote</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SelectedObject</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Quote</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Fetch_Quotes</targetReference>
            </connector>
            <label>Quote</label>
        </rules>
        <rules>
            <name>Chatter_Groups</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SelectedObject</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CollaborationGroup</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Fetch_Chatter_Groups</targetReference>
            </connector>
            <label>Chatter Groups</label>
        </rules>
    </decisions>
    <decisions>
        <name>NVH_ByPass</name>
        <label>NVH ByPass</label>
        <locationX>1388</locationX>
        <locationY>620</locationY>
        <defaultConnector>
            <targetReference>Assign_New_Vertical_Name_Group</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Other Groups</defaultConnectorLabel>
        <rules>
            <name>NVH_Group</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PubGroupSobjL1.Name</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>National Vertical Head</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_to_Fresh_Collection</targetReference>
            </connector>
            <label>NVH Group</label>
        </rules>
    </decisions>
    <description>1. Changing Group label to Public Groups</description>
    <dynamicChoiceSets>
        <name>EntityDefinition_Role_RoleAssignment</name>
        <dataType>String</dataType>
        <displayField>MasterLabel</displayField>
        <filterLogic>or</filterLogic>
        <filters>
            <field>QualifiedApiName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>rsp_Role__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>QualifiedApiName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Opportunity</stringValue>
            </value>
        </filters>
        <filters>
            <field>QualifiedApiName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Lead</stringValue>
            </value>
        </filters>
        <filters>
            <field>QualifiedApiName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Group</stringValue>
            </value>
        </filters>
        <filters>
            <field>QualifiedApiName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Quote</stringValue>
            </value>
        </filters>
        <filters>
            <field>QualifiedApiName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CollaborationGroup</stringValue>
            </value>
        </filters>
        <object>EntityDefinition</object>
        <valueField>QualifiedApiName</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ObjectList</name>
        <dataType>String</dataType>
        <displayField>Label</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>EntityDefinitionId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>000000000000000AAA, 000000000000000AAA</stringValue>
            </value>
        </filters>
        <object>FieldDefinition</object>
        <valueField>Label</valueField>
    </dynamicChoiceSets>
    <formulas>
        <name>QuoteReplaceVertical</name>
        <dataType>String</dataType>
        <expression>Substitute({!QuoteSobj.Vertical__c},{!PreviousName_Vertical},{!VerticalName})</expression>
    </formulas>
    <formulas>
        <name>SubstituteOldVDevName_PubGroup</name>
        <dataType>String</dataType>
        <expression>Substitute(substitute({!PubGroupSobjL1.DeveloperName},{!PreviousName_Vertical},{!VerticalName}),&quot; &quot;,&quot;_&quot;)</expression>
    </formulas>
    <formulas>
        <name>SubstituteOldVName_PubGroup</name>
        <dataType>String</dataType>
        <expression>Substitute({!PubGroupSobjL1.Name},{!PreviousName_Vertical},{!VerticalName})</expression>
    </formulas>
    <formulas>
        <name>SubstituteOldVName_Role</name>
        <dataType>String</dataType>
        <expression>Substitute({!RoleSobjL1.Name},{!VerticalNamewithinRoleName},{!VerticalName})</expression>
    </formulas>
    <formulas>
        <name>SubstituteOldVNme_ChGroup</name>
        <dataType>String</dataType>
        <expression>Substitute({!ChGroupSobjL1.Name},{!PreviousName_Vertical},{!VerticalName})</expression>
    </formulas>
    <formulas>
        <name>SubstituteSpacewith_Underscore</name>
        <dataType>String</dataType>
        <expression>Substitute({!VerticalName},&quot; &quot;,&quot;_&quot;)</expression>
    </formulas>
    <formulas>
        <description>Formula to Fetch Vertical Name within Role Name</description>
        <name>VerticalNamewithinRoleName</name>
        <dataType>String</dataType>
        <expression>LEFT(RIGHT({!RoleSobjL1.Name},LEN({!RoleSobjL1.Name}) - FIND(&quot;-&quot;,{!RoleSobjL1.Name},1)-1),FIND(&quot;-&quot;,RIGHT({!RoleSobjL1.Name},LEN({!RoleSobjL1.Name}) - FIND(&quot;-&quot;,{!RoleSobjL1.Name},1)-1),1)-2)</expression>
    </formulas>
    <interviewLabel>Change Vertical Name {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Change Vertical Name</label>
    <loops>
        <name>Loop_for_Roles</name>
        <label>Loop for Roles</label>
        <locationX>930</locationX>
        <locationY>256</locationY>
        <assignNextValueToReference>RoleSobjL1</assignNextValueToReference>
        <collectionReference>RoleSobjCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_New_Name_to_Role</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Custom_Roles</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_through_Chatter_Group_Collection</name>
        <label>Loop through Chatter Group Collection</label>
        <locationX>1235</locationX>
        <locationY>1141</locationY>
        <assignNextValueToReference>ChGroupSobjL1</assignNextValueToReference>
        <collectionReference>Fetch_Chatter_Groups</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_New_Vertical_Name_Chatter_Group</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Chatter_Groups</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_through_Group_Collection</name>
        <label>Loop through Group Collection</label>
        <locationX>1098</locationX>
        <locationY>651</locationY>
        <assignNextValueToReference>PubGroupSobjL1</assignNextValueToReference>
        <collectionReference>PubGroupSobjCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>NVH_ByPass</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Groups</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_through_Opty</name>
        <label>Loop through Opty</label>
        <locationX>586</locationX>
        <locationY>909</locationY>
        <assignNextValueToReference>OptySobj</assignNextValueToReference>
        <collectionReference>OptySobjCollection1</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Rename_Vertical_Text</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Opportunity</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_through_Quotes</name>
        <label>Loop through Quotes</label>
        <locationX>232</locationX>
        <locationY>801</locationY>
        <assignNextValueToReference>QuoteSobj</assignNextValueToReference>
        <collectionReference>QuoteSobjCollection1</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Replace_Quote_Vertical</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Quote</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Fetch_Chatter_Groups</name>
        <label>Fetch Chatter Groups</label>
        <locationX>1026</locationX>
        <locationY>1135</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_Chatter_Group_Collection</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <elementReference>PreviousName_Vertical</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>CollaborationGroup</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Fetch_Details_of_Vertical</name>
        <label>Fetch Details of Vertical</label>
        <locationX>487</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Fetch_Vertical_Name_History</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>rsp_Vertical__c</object>
        <outputAssignments>
            <assignToReference>VerticalName</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VerticalShortCode</assignToReference>
            <field>rsp_Vertical_Short_Code__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Fetch_Groups</name>
        <label>Fetch Groups</label>
        <locationX>889</locationX>
        <locationY>645</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_Group_Collection</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>Contains</operator>
            <value>
                <elementReference>PreviousName_Vertical</elementReference>
            </value>
        </filters>
        <object>Group</object>
        <outputReference>PubGroupSobjCollection</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>DeveloperName</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Fetch_Quotes</name>
        <label>Fetch Quotes</label>
        <locationX>402</locationX>
        <locationY>707</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_Quotes</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Vertical__c</field>
            <operator>Contains</operator>
            <value>
                <elementReference>PreviousName_Vertical</elementReference>
            </value>
        </filters>
        <object>Quote</object>
        <outputReference>QuoteSobjCollection1</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Vertical__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <description>This element will fetch roles to be updated</description>
        <name>Fetch_Roles</name>
        <label>Fetch Roles</label>
        <locationX>743</locationX>
        <locationY>390</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_for_Role_Records_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>rsp_Vertical__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>rsp_Role__c</object>
        <outputReference>RoleSobjCollection</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>rsp_Vertical_Text__c</queriedFields>
        <queriedFields>rsp_Geography_Text__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Fetch_Vertical_Name_History</name>
        <label>Fetch Vertical Name History</label>
        <locationX>649</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Object_Selection_for_Update</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>rsp_Vertical__History</object>
        <outputAssignments>
            <assignToReference>PreviousName_Vertical</assignToReference>
            <field>OldValue</field>
        </outputAssignments>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Get_Opportunities</name>
        <label>Get Opportunities</label>
        <locationX>598</locationX>
        <locationY>740</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_Opty</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Vertical__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputReference>OptySobjCollection1</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>rsp_VerticalName__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Chatter_Groups</name>
        <label>Update Chatter Groups</label>
        <locationX>1234</locationX>
        <locationY>1410</locationY>
        <inputReference>ChGroupSobjCollection2</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Custom_Roles</name>
        <label>Update Custom Roles</label>
        <locationX>886</locationX>
        <locationY>539</locationY>
        <inputReference>RoleSobjCollectionL2</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Groups</name>
        <label>Update Groups</label>
        <locationX>1057</locationX>
        <locationY>971</locationY>
        <inputReference>PubGroupSobjCollection2</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Opportunity</name>
        <label>Update Opportunity</label>
        <locationX>528</locationX>
        <locationY>1061</locationY>
        <inputReference>OptySobjCollection2</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Quote</name>
        <label>Update Quote</label>
        <locationX>180</locationX>
        <locationY>627</locationY>
        <inputReference>QuoteSobjCollection2</inputReference>
    </recordUpdates>
    <screens>
        <name>Display_Chatter_Group_Name</name>
        <label>Display Chatter Group Name</label>
        <locationX>1071</locationX>
        <locationY>1309</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>DisplayChatterGroupName</name>
            <fieldText>&lt;p&gt;Complete Name: {!ChGroupSobjL1.Name}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Display_Name_0</name>
        <label>Display Name</label>
        <locationX>984</locationX>
        <locationY>803</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>DisplayRoleName_0</name>
            <fieldText>&lt;p&gt;Complete Name: {!RoleSobjL1.Name}&lt;/p&gt;&lt;p&gt;Left: {!VerticalNamewithinRoleName}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Group_Selection</name>
        <label>Group Selection</label>
        <locationX>762</locationX>
        <locationY>727</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>DisplayRoleName</name>
            <fieldText>&lt;p&gt;Group was selected&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Group_Selection_Display</name>
        <label>Group Selection</label>
        <locationX>1501</locationX>
        <locationY>962</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_to_Fresh_Collection</targetReference>
        </connector>
        <fields>
            <name>RoleDummay_0</name>
            <fieldText>&lt;p&gt;Name: {!PubGroupSobjL1.DeveloperName}&lt;/p&gt;&lt;p&gt;Developer Name: {!PubGroupSobjL1.DeveloperName}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Group_Selection_Display_0</name>
        <label>Group Selection</label>
        <locationX>1515</locationX>
        <locationY>1449</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_to_Fresh_Chatter_Group_Collection</targetReference>
        </connector>
        <fields>
            <name>RoleDummay_0_0</name>
            <fieldText>&lt;p&gt;Name: {!PubGroupSobjL1.DeveloperName}&lt;/p&gt;&lt;p&gt;Developer Name: {!PubGroupSobjL1.DeveloperName}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Lead_Selection</name>
        <label>Lead Selection</label>
        <locationX>168</locationX>
        <locationY>515</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>LeadDummy</name>
            <fieldText>&lt;p&gt;Lead was selected&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Object_Selection_for_Update</name>
        <label>Object Selection for Update</label>
        <locationX>516</locationX>
        <locationY>268</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Selection_to_Variable</targetReference>
        </connector>
        <fields>
            <name>Select_Object</name>
            <choiceReferences>EntityDefinition_Role_RoleAssignment</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select Object</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Opportunity_Selection</name>
        <label>Opportunity Selection</label>
        <locationX>696</locationX>
        <locationY>842</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>OptyDummy</name>
            <fieldText>&lt;p&gt;Opportunity was selected&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Opportunity_Selection_Display_0</name>
        <label>Opportunity Selection</label>
        <locationX>825</locationX>
        <locationY>1132</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>OptyDummay_0_0</name>
            <fieldText>&lt;p&gt;Name: {!OptySobj.rsp_VerticalName__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Role_Selection</name>
        <label>Role Selection</label>
        <locationX>1395</locationX>
        <locationY>479</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Add_to_Role_collection2</targetReference>
        </connector>
        <fields>
            <name>RoleDummay</name>
            <fieldText>&lt;p&gt;{!RoleSobjL1.Name}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Fetch_Details_of_Vertical</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <description>This variable will contain list to be updated</description>
        <name>ChGroupSobjCollection2</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CollaborationGroup</objectType>
    </variables>
    <variables>
        <description>Chatter Group Single variable</description>
        <name>ChGroupSobjL1</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CollaborationGroup</objectType>
    </variables>
    <variables>
        <name>Geography_RoleName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Initials_Of_RoleName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OptySobj</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>OptySobjCollection1</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>OptySobjCollection2</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>PreviousName_Vertical</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PubGroupSobjCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Group</objectType>
    </variables>
    <variables>
        <name>PubGroupSobjCollection2</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Group</objectType>
    </variables>
    <variables>
        <name>PubGroupSobjL1</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Group</objectType>
    </variables>
    <variables>
        <name>QuoteSobj</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Quote</objectType>
    </variables>
    <variables>
        <name>QuoteSobjCollection1</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Quote</objectType>
    </variables>
    <variables>
        <name>QuoteSobjCollection2</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Quote</objectType>
    </variables>
    <variables>
        <description>This variable will hold value of Vertical Being changed</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RoleSobjCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>rsp_Role__c</objectType>
    </variables>
    <variables>
        <name>RoleSobjCollectionL2</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>rsp_Role__c</objectType>
    </variables>
    <variables>
        <name>RoleSobjL1</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>rsp_Role__c</objectType>
    </variables>
    <variables>
        <name>SelectedObject</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VerticalName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VerticalShortCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
