BCCL/force-app/main/default/flows/Create_Vertical_Category.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <environments>Default</environments>
    <interviewLabel>Create Vertical Category {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Vertical Category</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Vertical_Category</name>
        <label>Create Vertical Category</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>$Record.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>rsp_Category_Code__c</field>
            <value>
                <elementReference>$Record.rsp_Bcc_Code__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>rsp_Vertical__c</field>
            <value>
                <elementReference>Get_Classifieds_Vertical.Id</elementReference>
            </value>
        </inputAssignments>
        <object>rsp_Vertical_Category__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Classifieds_Vertical</name>
        <label>Get Classifieds Vertical</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Vertical_Category</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>rsp_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>999</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>rsp_Vertical__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Classifieds_Vertical</targetReference>
        </connector>
        <filterFormula>{!$Record.rsp_Parent_BCC__r.Name} = &apos;CLASSIFIEDS&apos;</filterFormula>
        <object>rsp_BCC__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
