BCCL/force-app/main/default/flows/Increment_Weightage_Calendar_Date.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Assign_Geo_Selection_to_Var</name>
        <label>Assign Geo Selection to Var</label>
        <locationX>360</locationX>
        <locationY>107</locationY>
        <assignmentItems>
            <assignToReference>SelectedVertical</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Select_Vertical</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_SelectedGeo</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Select_Geography</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Weightage_Calendar</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Capture_Decision_Var</name>
        <label>Capture Decision Var</label>
        <locationX>805</locationX>
        <locationY>280</locationY>
        <assignmentItems>
            <assignToReference>Var_UpdateSelection</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Chose_Updation</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>What_update</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Increment_Date</name>
        <label>Increment Date</label>
        <locationX>353</locationX>
        <locationY>270</locationY>
        <assignmentItems>
            <assignToReference>Sobj_WC.rsp_Date__c</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_WC_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_WC_Collection</name>
        <label>Update WC Collection</label>
        <locationX>193</locationX>
        <locationY>385</locationY>
        <assignmentItems>
            <assignToReference>SobjColl_WC_Update</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Sobj_WC</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Weightage_Calendar</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Date_Choice</name>
        <choiceText>Date</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Geography_Choice</name>
        <choiceText>Geography</choiceText>
        <dataType>String</dataType>
    </choices>
    <decisions>
        <name>What_update</name>
        <label>What update?</label>
        <locationX>787</locationX>
        <locationY>444</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Geography</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Var_UpdateSelection</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Geography</stringValue>
                </rightValue>
            </conditions>
            <label>Geography</label>
        </rules>
        <rules>
            <name>Date</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Var_UpdateSelection</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Date</stringValue>
                </rightValue>
            </conditions>
            <label>Date</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>Geography_Picklist</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>rsp_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SALES ORG</stringValue>
            </value>
        </filters>
        <filters>
            <field>rsp_IsActive__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>rsp_Geography__c</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>VerticalPicklist</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>rsp_IsActive__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>rsp_Vertical__c</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <interviewLabel>Increment Weightage Calendar Date {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Increment Weightage Calendar Date</label>
    <loops>
        <name>Loop_Weightage_Calendar</name>
        <label>Loop Weightage Calendar</label>
        <locationX>557</locationX>
        <locationY>364</locationY>
        <assignNextValueToReference>Sobj_WC</assignNextValueToReference>
        <collectionReference>SobjColl_WeightageCal</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Increment_Date</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Weightage_Calendar</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Weightage_Calendar</name>
        <label>Get Weightage Calendar</label>
        <locationX>578</locationX>
        <locationY>97</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Weightage_Calendar</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>rsp_Vertical__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Select_Vertical</elementReference>
            </value>
        </filters>
        <filters>
            <field>rsp_Geography__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Var_SelectedGeo</elementReference>
            </value>
        </filters>
        <object>rsp_Weightage_Calendar__c</object>
        <outputReference>SobjColl_WeightageCal</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>rsp_Date__c</queriedFields>
        <queriedFields>rsp_Geography__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Weightage_Calendar</name>
        <label>Update Weightage Calendar</label>
        <locationX>544</locationX>
        <locationY>597</locationY>
        <inputReference>SobjColl_WC_Update</inputReference>
    </recordUpdates>
    <screens>
        <name>Select_Vertical_and_Geography</name>
        <label>Select Vertical and Geography</label>
        <locationX>214</locationX>
        <locationY>103</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Geo_Selection_to_Var</targetReference>
        </connector>
        <fields>
            <name>Select_Vertical</name>
            <choiceReferences>VerticalPicklist</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select Vertical</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Select_Geography</name>
            <choiceReferences>Geography_Picklist</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select Geography</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Update_Selection</name>
        <label>Update Selection</label>
        <locationX>813</locationX>
        <locationY>79</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Capture_Decision_Var</targetReference>
        </connector>
        <fields>
            <name>Chose_Updation</name>
            <choiceReferences>Geography_Choice</choiceReferences>
            <choiceReferences>Date_Choice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Chose Updation</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>Select_Vertical_and_Geography</startElementReference>
    <status>Draft</status>
    <variables>
        <name>SelectedVertical</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Sobj_WC</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>rsp_Weightage_Calendar__c</objectType>
    </variables>
    <variables>
        <name>SobjColl_WC_Update</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>rsp_Weightage_Calendar__c</objectType>
    </variables>
    <variables>
        <name>SobjColl_WeightageCal</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>rsp_Weightage_Calendar__c</objectType>
    </variables>
    <variables>
        <name>Var_SelectedGeo</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var_UpdateSelection</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
