BCCL/force-app/main/default/flows/Populate_Lapsed_Client.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <decisions>
        <name>Opportunity_of_Lapsed_Vertical</name>
        <label>Opportunity of Lapsed Vertical</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Verticals</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>$Record.Vertical__r.Name</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Lapsed_Client</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Populate Lapsed Client on Opportunity {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Populate Lapsed Client</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Lapsed_Client</name>
        <label>Update Lapsed Client</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <inputAssignments>
            <field>Lapsed_Client__c</field>
            <value>
                <elementReference>$Record.Account.Lapsed_Client__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Lot_Date__c</field>
            <value>
                <elementReference>$Record.Account.Lot_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Lot__c</field>
            <value>
                <elementReference>$Record.Account.Lot__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_All_Verticals</targetReference>
        </connector>
        <filterFormula>NOT(ISBLANK({!$Record.AccountId})) &amp;&amp; NOT(ISBLANK({!$Record.Account.Lapsed_Client__c})) &amp;&amp; NOT(ISBLANK({!$Record.Account.Lapsed_Client_Verticals__c}))</filterFormula>
        <object>Opportunity</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Get_All_Verticals</name>
        <label>Get All Verticals</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <connector>
            <targetReference>Opportunity_of_Lapsed_Vertical</targetReference>
        </connector>
        <flowName>Subflow_Generic_String_Splitter</flowName>
        <inputAssignments>
            <name>varT_StringToSplit</name>
            <value>
                <elementReference>$Record.Account.Lapsed_Client_Verticals__c</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>Verticals</assignToReference>
            <name>SplitResults</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>Verticals</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
