BCCL/force-app/main/default/flows/Update_Collected_Amount_of_all_items_of_prepaid_orders.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Add_to_the_list</name>
        <label>Add to the list</label>
        <locationX>308</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>listOfOrderItem</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>singleRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>iterate</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_single</name>
        <label>Assignment single</label>
        <locationX>308</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>singleRecord.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>iterate.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleRecord.Collected_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>iterate.TotalPrice</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_the_list</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_payment_terms</name>
        <label>Check payment terms</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Payment_terms_create</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CreatedDate</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Payment_Terms__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Z001</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Get_all_orderItem</targetReference>
            </connector>
            <label>Payment terms</label>
        </rules>
        <rules>
            <name>Payment_terms_updated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Payment_Terms__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Payment_Terms__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Z001</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_all_orderItem</targetReference>
            </connector>
            <label>Payment terms updated</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Update Collected Amount of all items of prepaid orders {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Collected Amount of all items of prepaid orders</label>
    <loops>
        <name>iterate</name>
        <label>iterate</label>
        <locationX>220</locationX>
        <locationY>539</locationY>
        <collectionReference>Get_all_orderItem</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assignment_single</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>update_collected_amount</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_all_orderItem</name>
        <label>Get all orderItem</label>
        <locationX>220</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>iterate</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OrderId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OrderItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>update_collected_amount</name>
        <label>update collected amount</label>
        <locationX>220</locationX>
        <locationY>947</locationY>
        <inputReference>listOfOrderItem</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_payment_terms</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Payment_Terms__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Payment_Terms__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Z001</stringValue>
            </value>
        </filters>
        <object>Order</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>listOfOrderItem</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderItem</objectType>
    </variables>
    <variables>
        <name>singleRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderItem</objectType>
    </variables>
</Flow>
