BCCL/force-app/main/default/flows/Update_Response_Revenue_Print_on_AT.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Append_To_Collection</name>
        <label>Append To Collection</label>
        <locationX>50</locationX>
        <locationY>756</locationY>
        <assignmentItems>
            <assignToReference>UpdateAT</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Response_Revenue_on_AT</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Variable</name>
        <label>Set Variable</label>
        <locationX>50</locationX>
        <locationY>636</locationY>
        <assignmentItems>
            <assignToReference>$Record.Response_Revenue_Print__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TRUE</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Append_To_Collection</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_if_Response_Revenue_is_True</name>
        <label>Check if Response Revenue is True</label>
        <locationX>182</locationX>
        <locationY>516</locationY>
        <defaultConnector>
            <targetReference>Update_Response_Revenue_on_AT</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>FALSE</defaultConnectorLabel>
        <rules>
            <name>TRUE</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Product_Record.Response_Revenue_Print__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Variable</targetReference>
            </connector>
            <label>TRUE</label>
        </rules>
    </decisions>
    <decisions>
        <name>Get_Assigned_Achievement</name>
        <label>Get Assigned Achievement</label>
        <locationX>336</locationX>
        <locationY>276</locationY>
        <defaultConnector>
            <targetReference>Update_Response_Revenue_on_AT</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Cancelled</defaultConnectorLabel>
        <rules>
            <name>Assigned</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.rsp_Achievement__r.rsp_Credit_Split_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Assigned, Open</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Product_Record</targetReference>
            </connector>
            <label>Assigned</label>
        </rules>
    </decisions>
    <interviewLabel>Update Response Revenue Print on AT {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Response Revenue Print on AT</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Product_Record</name>
        <label>Product Record</label>
        <locationX>182</locationX>
        <locationY>396</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_Response_Revenue_is_True</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.rsp_Achievement__r.rsp_Order_Line_Item__r.Product2.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Response_Revenue_Print__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Product2</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Response_Revenue_on_AT</name>
        <label>Update Response Revenue on AT</label>
        <locationX>336</locationX>
        <locationY>1068</locationY>
        <inputReference>UpdateAT</inputReference>
    </recordUpdates>
    <start>
        <locationX>210</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Assigned_Achievement</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>rsp_Achievement__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>rsp_Achieved_Target__c</object>
        <schedule>
            <frequency>Once</frequency>
            <startDate>2022-03-10</startDate>
            <startTime>12:30:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>UpdateAT</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>rsp_Achieved_Target__c</objectType>
    </variables>
</Flow>
