BCCL/force-app/main/default/flows/Update_Response_Revnue_Print_On_AT.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Append_to_Collection</name>
        <label>Append to Collection</label>
        <locationX>50</locationX>
        <locationY>815</locationY>
        <assignmentItems>
            <assignToReference>UpdateAT</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Response_Revenue_on_AT</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Variable</name>
        <label>Set Variable</label>
        <locationX>50</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>$Record.Response_Revenue_Print__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Append_to_Collection</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>check_if_response_revenue_is_true</name>
        <label>check if response revenue is true</label>
        <locationX>182</locationX>
        <locationY>575</locationY>
        <defaultConnector>
            <targetReference>Update_Response_Revenue_on_AT</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>true</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Product_Record.Response_Revenue_Print__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Variable</targetReference>
            </connector>
            <label>true</label>
        </rules>
    </decisions>
    <decisions>
        <name>Get_Assigned_Status</name>
        <label>Get Assigned Status</label>
        <locationX>336</locationX>
        <locationY>335</locationY>
        <defaultConnector>
            <targetReference>Update_Response_Revenue_on_AT</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Assigned</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.rsp_Achievement__r.rsp_Credit_Split_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Assigned</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.rsp_Achievement__r.rsp_Credit_Split_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Open</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Product_Record</targetReference>
            </connector>
            <label>Assigned</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Update Response Revnue Print On AT {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Response Revnue Print On AT</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Product_Record</name>
        <label>Product Record</label>
        <locationX>182</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>check_if_response_revenue_is_true</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.rsp_Achievement__r.rsp_Order_Line_Item__r.Product2.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Response_Revenue_Print__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Product2</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Response_Revenue_on_AT</name>
        <label>Update Response Revenue on AT</label>
        <locationX>336</locationX>
        <locationY>1127</locationY>
        <inputReference>UpdateAT</inputReference>
    </recordUpdates>
    <start>
        <locationX>210</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Assigned_Status</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>rsp_Achievement__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>rsp_Achieved_Target__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>UpdateAT</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>rsp_Achieved_Target__c</objectType>
    </variables>
</Flow>
