BCCL/force-app/main/default/flows/Update_Collected_Amount_on_all_related_ATs.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Add_Achievement_Id</name>
        <label>Add Achievement Id</label>
        <locationX>270</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>AchievementIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Iterate_Over_Achievements.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_Over_Achievements</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Collected_Amount_of_AT</name>
        <label>Update Collected Amount of AT</label>
        <locationX>138</locationX>
        <locationY>1163</locationY>
        <assignmentItems>
            <assignToReference>CurrentAcheivedTarget</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_over_ATs</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentAcheivedTarget.Collected_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CollectedAmount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AllAchievedTargetsToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CurrentAcheivedTarget</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_over_ATs</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Achievements_Present</name>
        <label>Achievements Present</label>
        <locationX>380</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Achievements</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Iterate_Over_Achievements</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>AT_Present</name>
        <label>AT Present</label>
        <locationX>182</locationX>
        <locationY>947</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>yes2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Achieved_Targets</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Iterate_over_ATs</targetReference>
            </connector>
            <label>yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>CollectedAmount</name>
        <dataType>Number</dataType>
        <expression>{!$Record.Collected_Amount__c} * ({!CurrentAcheivedTarget.rsp_Achievement_Value__c} / {!$Record.TotalPrice})</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Update Collected Amount on all related ATs {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Collected Amount on all related ATs</label>
    <loops>
        <name>Iterate_Over_Achievements</name>
        <label>Iterate Over Achievements</label>
        <locationX>182</locationX>
        <locationY>539</locationY>
        <collectionReference>Achievements</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_Achievement_Id</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Achieved_Targets</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Iterate_over_ATs</name>
        <label>Iterate over ATs</label>
        <locationX>50</locationX>
        <locationY>1055</locationY>
        <collectionReference>Achieved_Targets</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Update_Collected_Amount_of_AT</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Achieved_Targets</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Achieved_Targets</name>
        <label>Achieved Targets</label>
        <locationX>182</locationX>
        <locationY>839</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AT_Present</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>rsp_Achievement__c</field>
            <operator>In</operator>
            <value>
                <elementReference>AchievementIds</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>rsp_Achieved_Target__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Achievements</name>
        <label>Achievements</label>
        <locationX>380</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Achievements_Present</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3)</filterLogic>
        <filters>
            <field>rsp_Order_Line_Item__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>rsp_Credit_Split_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Assigned</stringValue>
            </value>
        </filters>
        <filters>
            <field>rsp_Credit_Split_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>rsp_Achievement__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>rsp_Achievement_Value__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Achieved_Targets</name>
        <label>Update Achieved Targets</label>
        <locationX>50</locationX>
        <locationY>1355</locationY>
        <inputReference>AllAchievedTargetsToUpdate</inputReference>
    </recordUpdates>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Achievements</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Collected_Amount__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>OrderItem</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>AchievementIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AchievementValue</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <elementReference>$Record.TotalPrice</elementReference>
        </value>
    </variables>
    <variables>
        <name>AllAchievedTargetsToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>rsp_Achieved_Target__c</objectType>
    </variables>
    <variables>
        <name>CurrentAcheivedTarget</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>rsp_Achieved_Target__c</objectType>
    </variables>
</Flow>
