BCCL/force-app/main/default/flows/Update_Response_Revenue_on_AT.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Update_Key_Account_Flag</name>
        <label>Update Key Account Flag</label>
        <locationX>336</locationX>
        <locationY>395</locationY>
        <assignmentItems>
            <assignToReference>$Record.Account_tagged_with_Key_Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AccountTaggedwithKeyAccount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Assigned_After_Deadline__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.rsp_Achievement__r.Assigned_After_Deadline__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Include_VKIn</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Achivement_Status</name>
        <label>Achivement Status</label>
        <locationX>545</locationX>
        <locationY>287</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Valid</name>
            <conditionLogic>(1 OR 2) AND 3 AND 4</conditionLogic>
            <conditions>
                <leftValueReference>$Record.rsp_Achievement__r.rsp_Credit_Split_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Assigned</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.rsp_Achievement__r.rsp_Credit_Split_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Open</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.rsp_Achievement__r.rsp_Order_Line_Item__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.rsp_Achievement__r.rsp_Order_Line_Item__r.Product2Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Key_Account_Flag</targetReference>
            </connector>
            <label>Valid</label>
        </rules>
    </decisions>
    <decisions>
        <name>Include_VKIn</name>
        <label>Include VK</label>
        <locationX>336</locationX>
        <locationY>503</locationY>
        <defaultConnector>
            <targetReference>Disable_Response_Revenue</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.rsp_Achievement__r.rsp_Horizontal__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>LANGUAGES</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>PublicationDescription_Product</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>vijay karnataka</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.rsp_Achievement__r.rsp_Achievement_Date__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <dateValue>2023-09-01</dateValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Checkbox</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Update_Checkbox</name>
        <label>Update Checkbox</label>
        <locationX>182</locationX>
        <locationY>611</locationY>
        <defaultConnector>
            <targetReference>Update_MT_checkbox</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.rsp_Achievement__r.rsp_Order_Line_Item__r.Product2.Response_Revenue_Print__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Response_Revenue</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Update_MT_checkbox</name>
        <label>Update MT checkbox</label>
        <locationX>336</locationX>
        <locationY>995</locationY>
        <defaultConnector>
            <targetReference>Update_NBT_checkbox</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>MT_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.rsp_Achievement__r.rsp_Order_Line_Item__r.Product2.rsp_Publication_Desc__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Maharashtra Times</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.rsp_Achievement__r.rsp_Horizontal__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>LANGUAGES</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_MT_checkbox_True</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Update_NBT_checkbox</name>
        <label>Update NBT checkbox</label>
        <locationX>336</locationX>
        <locationY>1295</locationY>
        <defaultConnector>
            <targetReference>Update_Collected_Amount</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>NBT_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.rsp_Achievement__r.rsp_Order_Line_Item__r.Product2.rsp_Publication_Desc__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Navbharat Times</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.rsp_Achievement__r.rsp_Horizontal__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>LANGUAGES</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_NBT_checkboxs</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>AccountTaggedwithKeyAccount</name>
        <dataType>Boolean</dataType>
        <expression>if(contains(UPPER(IF(ISBLANK({!$Record.rsp_Achievement__r.rsp_Account__r.Horizontal_Tagged__c}), &apos;&apos;, {!$Record.rsp_Achievement__r.rsp_Account__r.Horizontal_Tagged__c})), &apos;KEY ACCOUNT&apos;), true, false)</expression>
    </formulas>
    <formulas>
        <name>CollectedAmount</name>
        <dataType>Number</dataType>
        <expression>IF (
    {!$Record.rsp_Achievement__r.rsp_Order_Line_Item__r.Collected_Amount__c} * {!$Record.rsp_Achievement_Value__c} &lt; 0, 
    - 1, 
    1
) * 
{!$Record.rsp_Achievement__r.rsp_Order_Line_Item__r.Collected_Amount__c} * 
IF (
    {!$Record.rsp_Achievement__r.rsp_Order_Line_Item__r.TotalPrice} &lt;&gt; 0, (
        {!$Record.rsp_Achievement_Value__c} / 
        {!$Record.rsp_Achievement__r.rsp_Order_Line_Item__r.TotalPrice}
    ), 
    0
)</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>PublicationDescription_Product</name>
        <dataType>String</dataType>
        <expression>LOWER({!$Record.rsp_Achievement__r.rsp_Order_Line_Item__r.Product2.rsp_Publication_Desc__c})</expression>
    </formulas>
    <interviewLabel>Update Response Revenue on AT {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Response Revenue on AT</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Disable_Response_Revenue</name>
        <label>Disable Response Revenue</label>
        <locationX>490</locationX>
        <locationY>611</locationY>
        <connector>
            <targetReference>Update_MT_checkbox</targetReference>
        </connector>
        <inputAssignments>
            <field>Response_Revenue_Print__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Collected_Amount</name>
        <label>Update Collected Amount</label>
        <locationX>336</locationX>
        <locationY>1595</locationY>
        <inputAssignments>
            <field>Collected_Amount__c</field>
            <value>
                <elementReference>CollectedAmount</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_MT_checkbox_True</name>
        <label>Update MT checkbox True</label>
        <locationX>204</locationX>
        <locationY>1103</locationY>
        <connector>
            <targetReference>Update_NBT_checkbox</targetReference>
        </connector>
        <inputAssignments>
            <field>MT_Revenue__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_NBT_checkboxs</name>
        <label>Update NBT checkbox</label>
        <locationX>204</locationX>
        <locationY>1403</locationY>
        <connector>
            <targetReference>Update_Collected_Amount</targetReference>
        </connector>
        <inputAssignments>
            <field>NBT_Revenue__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Response_Revenue</name>
        <label>Update Response Revenue</label>
        <locationX>50</locationX>
        <locationY>719</locationY>
        <connector>
            <targetReference>Update_MT_checkbox</targetReference>
        </connector>
        <inputAssignments>
            <field>Response_Revenue_Print__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>419</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Achivement_Status</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>rsp_Achievement__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>rsp_Achieved_Target__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
